<div class="container">
    <div class="left">
        <h1 style="cursor: pointer; z-index : 999" routerLink="/">Vivek R. Dudhatra</h1>
    </div>
    <div class="right">
        <p routerLink="/" routerLinkActive="active">Home</p>
        <p routerLink="/about" routerLinkActive="active">About</p>
        <p routerLink="/project" routerLinkActive="active">Project</p>
        <p routerLink="/contact" routerLinkActive="active">Contact</p>
    </div>
</div>

<div class="container-m">
    <div class="header">
        <h2 routerLink="/" style="z-index : 999">Vivek R. Dudhatra</h2>
        @if(isMenu == 'hidden'){
        <span (click)="openMenu()">
            <fa-icon [icon]="faMenu"></fa-icon>
        </span>
        }@else {
        <span (click)="openMenu()">
            <fa-icon [icon]="faClose"></fa-icon>
        </span>
        }
    </div>
    @if(isMenu){
        <div class="menu" [@slideInOut]="isMenu">
            <p routerLink="/" (click)="openMenu()">Home</p>
            <p routerLink="/about" (click)="openMenu()">About</p>
            <p routerLink="/project" (click)="openMenu()">Peoject</p>
            <p routerLink="/contact" (click)="openMenu()">Contact</p>
        </div>
    }
</div>
