<footer>
    <div class="top">
        <div class="left">
            <h1>Vivek R. Dudhatra</h1>
            <a href="https://drive.google.com/file/d/1Zg61clYtnFYc0HNQiY2tFQJwkYk9lK4i/view?usp=drive_link"
                target="_blank">
                <button>See Resume</button>
            </a>
        </div>
        <div class="mid">
            <p routerLink="/">Home</p>
            <p routerLink="/about">About</p>
            <p routerLink="/project">Project</p>
            <p routerLink="/contact">Contact</p>
        </div>
        <div class="right">
            <a href="https://github.com/vivek1384" target="_blank">
                <p>GitHub</p>
            </a>
            <a href="https://www.linkedin.com/in/vivek-dudhatra/" target="_blank">
                <p>LinkedIn</p>
            </a>
            <a href="https://x.com/VivekDudhatra13" target="_blank">
                <p>Twitter</p>
            </a>
        </div>
    </div>
    <div class="down">
        Copyright 2025 © Vivek R. Dudhatra &nbsp; <span style="font-size: 26px;">•</span> &nbsp; Designed and Devloped
        By Vivek R. Dudhatra
    </div>
</footer>