<footer>
    <div class="top">
        <div class="left">
            <h1>Vivek R. Dudhatra</h1>
            <a href="https://drive.google.com/file/d/1Zg61clYtnFYc0HNQiY2tFQJwkYk9lK4i/view?usp=drive_link"
                target="_blank">
                <button>See Resume</button>
            </a>
        </div>
        <hr>
        <div class="mid">
            <p routerLink="/">Home</p><hr>
            <p routerLink="/about">About</p><hr>
            <p routerLink="/project">Project</p><hr>
            <p routerLink="/contact">Contact</p>
        </div>
        <hr>
        <div class="right">
            <a href="https://github.com/vivek1384" target="_blank">
                <p>GitHub</p>
            </a>
            <hr>
            <a href="https://www.linkedin.com/in/vivek-dudhatra/" target="_blank">
                <p>LinkedIn</p>
            </a>
            <hr>
            <a href="https://x.com/VivekDudhatra13" target="_blank">
                <p>Twitter</p>
            </a>
        </div>
        <hr>
    </div>
    <div class="down">
        <p>Copyright 2025 © Vivek R. Dudhatra</p> &nbsp; <span>•</span> &nbsp; <hr> <p>Designed and Devloped
            By Vivek R. Dudhatra</p>
    </div>
</footer>