<div class="container">
    <div class="left">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Driven
            by an unwavering passion for crafting seamless and intuitively engaging user experiences, I am Vivek
            Dudhatra, a dedicated Angular developer deeply immersed in the dynamic world of modern front-end
            technologies. My core expertise lies in architecting and developing robust, scalable web applications
            utilizing the Angular framework. I possess a strong command over the fundamental building blocks of the web,
            including HTML for semantic structure, CSS for captivating styling and responsive layouts, and JavaScript
            for dynamic interactivity.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beyond
            these core technologies, I continuously explore and integrate cutting-edge tools and best practices
            within the Angular ecosystem to ensure high-performance and maintainable code. I am adept at
            problem-solving, collaborating effectively within agile teams, and transforming complex requirements into
            elegant and user-centric solutions. My commitment extends to staying abreast of the latest industry trends
            and advancements, allowing me to consistently deliver exceptional digital experiences. </p>
        <a href="../../assests/Vivek Dudhatra.pdf" download="">
            <button>Download CV</button>
        </a>
    </div>
    <div class="right">
        <div class="circle">
            <img src="https://media-hosting.imagekit.io/51f53d4935d74668/download__4_-removebg-preview.png?Expires=1840095888&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=o7FXClNa5NMCVoVlAxnAj7R8U9DPb4uzSh-Ev2PaCNvxQN1T-jok1BhMCQiPIFTMhtPE3VQ8cdHUT9GWIU0wMynMf2SGreKT2ZGukq~nisV6~sfKYIrSZuuTWFUixOsTFL69cPsfmzutPggNggb7V-M9-8HEHLH0k8M~AAR9fDWBBkFUF9LF-iLS2mpEoP~ZpaKRY7TC5zYO5zxy~EX6IpzIdyov2THVCcJ3ef2rZnfunqQ5V0LmG2RO1gaYmqN9vDy2~biNem-zS0aUpMyjP~jSWaxUN4PvjG7yj1KXkoWCPVfqzPBZdZN14e~eU~Hh~SclQrs-qmmBsjzELiDhNw__"
                alt="">
        </div>
    </div>
</div>

