.container-c {
    background: #f6f6f6;
    height: calc(100vh - 97px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-c form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* transform: scale(1.5); */
}

.container-c form div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    gap: 3rem;
}

form div label {
    width: 23%;
    font-size: 25px;
    padding-top: 5px;
    text-align: start;
}

form div input,
form div textarea {
    width: 77%;
    font-size: 23px;
    padding: 4px;
    padding-left: 12px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px #e2e2e2;
    columns: #e2e2e2;
    transition: ease-in all 0.4s;
}

form div input:focus,
form div textarea:focus{
    transform: scale(1.04)
}

form button {
    font-size: 27px;
    padding: 6px;
    width: 44%;
    margin: auto;
    margin-top: 1.5rem;
    border: none;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 15px 5px #e2e2e2;
    transition: ease-in all 0.4s;
}
form button:hover{
    transform: scale(1.05);
}