@if (isLoad) {

<div class="loader-container">
    <div class="loader-name">
        <div>
            <span>V</span><span>I</span><span>V</span><span>E</span><span>K</span>
        </div>
        <span class="space"></span>
        <div>
            <span>D</span><span>U</span><span>D</span><span>H</span><span>A</span><span>T</span><span>R</span><span>A</span>
        </div>
    </div>
</div>


}@else {
<div class="container-c">
    <form action="https://api.web3forms.com/submit" method="POST">
        <input type="hidden" name="access_key" value="ab02cba6-e0ab-4771-9089-e7fd5a96f1cf">
        <div>
            <label for="">Enter Name : </label>
            <input type=" text" name="name" required autocomplete="off">
        </div>
        <div>
            <label for="">Enter E-mail :</label>
            <input type="email" name="email" required autocomplete="off">
        </div>
        <div>
            <label for="">Message : </label>
            <textarea name="message" required rows="4" autocomplete="off"></textarea>
        </div>
          <input type="hidden" name="redirect" value="https://web3forms.com/success">

        <button type="submit">Contect Me</button>
    </form>
</div>

}
