<div class="container">
    <a href="https://image-search-app-orcin.vercel.app/" target="_blank">
        <div class="card">
            <img src="https://media-hosting.imagekit.io/b6a5b6bbd71c49b3/Screenshot%202025-04-23%20145801.png?Expires=1840096524&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=uv-l8z9la7yIJeH-isa5se0DuiMfXWpsGcYMn-1rw4LlkQglW4aYLcI5hnu4-y7~Dv8vktclUKKw4NMY-T5WGVDTl7rIAJSp1C8MwYZJ2m-fjkbkVD4xJo0xXs95aeufaRerZPG3SAfww4-rueetR5LLO3WzNG1tIseYkte7bvcal3-iExY7n-AWAG74U-lYs~~YNuJMpN9DOPQKW9fHsDVjXoULjGIw~~7GwY7atNtHi0YJcVJ4FSAsDlSeMdec0k2bm1cYjlJBO4bSd1YkoDXZfmSuDEu1XKfW2VpWn9g8Uz-Ji~ymMnTHBj-cvQMA2TCKjPbJ~d~FC2QiXrOSIw__"
                alt="">
            <h2>Image Search App</h2>
            <p>Image Search App: My project enabling users to search for images using keywords. Built with HTML, CSS &
                JavaScript with API integration, it provides a user-friendly interface for finding and viewing images.
            </p>
        </div>
    </a>
    <a href="https://coronamapplus.netlify.app/" target="_blank">
        <div class="card">
            <img src="https://media-hosting.imagekit.io/a7258fb6f3074866/Screenshot%202025-04-23%20145641.png?Expires=1840096524&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=nY2cPGIgPy4FFmMYfaenYt-drJ0k1ldfvyAKGozD6qfr5J3-rZ-h~6jxeHV2VqrURfudWCjjvFUpRmK~-rgP~uktLGxzjpx5iMmzrPthufG7VLgLklLT59IWHruHilvITJHIE80xuyxYYKeENX-BmjCMKc2r~8tIyKJy2AlnUez6eynVbOXii3rFyOM6s05kQ6jXMpdrJ~1CL8K4mi8VMggXsNw-J3etWWv52-rvhrhqgxk0PFZQBvrajQpfiISjFSxHyBgZX6iOGwJdMYsFRrvLlq1fuYbSFxxQf4XQvLEoqwXxZXnRTptGh-Rl7qAuLLjGvIy9yVx3eZJtcSO5KQ__"
                alt="">

            <h2>Corona Map</h2>

            <p>CoronaMap: My project visualizing the COVID-19 pandemic's global spread on an interactive map. Built with
                HTML, CSS & JavaScript, it offers a clear, real-time view of cases and recoveries.</p>

        </div>
    </a>
    <a href="https://live-streaming-web-app.vercel.app/" target="_blank">

        <div class="card">
            <img src="https://media-hosting.imagekit.io/67f34e57304f4596/Screenshot%202025-04-23%20145858.png?Expires=1840096524&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=zUNASJl-VH4ct-K~AzGIq8vkDOm2XQUVLhqogdGL2mZyq5DDUnAswmj4U7qW8lY51wb3B2Y21hsGJ4s9~CKQBymiPBxACcwWn~Qfh0n3tJ4fPSNxMvRkMfpAw9WU-8K-oDBQxj413W7FmLvaCtLRvxeQGeaxIGC6dGHgFbAyduGCSLPBjJ2hHJ164CXvvgO6QWjNCtN4BuFjd9ryEPbXLtD2vIcUtHdw2cJ-nT24T11kOdVc6vWRSa8hpV-wNeIPjr8HrgMzMh-GedXFW4ginzmhj0Il4SjlezVFNCkLNzbSp4l5qaR~x63YJYZeAcItiLwvecP2FrXIGkMCI-nv5A__"
                alt="">
            <h2>Live Streaming App</h2>
            <p>Live Streaming Web App: This project enables real-time video broadcasting and viewing. Users can likely
                create and join live streams, potentially with features like chat and user authentication for an
                interactive
                experience.</p>
        </div>
    </a>
</div>