@if (isLoad) {

<div class="loader-container">
    <div class="loader-name">
        <div>
            <span>V</span><span>I</span><span>V</span><span>E</span><span>K</span>
        </div>
        <span class="space"></span>
        <div>
            <span>D</span><span>U</span><span>D</span><span>H</span><span>A</span><span>T</span><span>R</span><span>A</span>
        </div>
    </div>
</div>


}@else {
<div class="container">
    <div class="circle">
    </div>
    <div class="left">
        <div class="x">
            <p>x</p>
            <img src="https://media-hosting.imagekit.io/692dbeb4d54a4759/download__2_-removebg-preview.png?Expires=1840094398&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=rrKDqBg7EuPkF4Hz2xTj85I5ntSUryDMG~EbxOG6sbxdGxc-~0enxH3cZZQv7nc3RI~QBj4QH6W9Zn3UjEODvSQF7y69d~MF-rQKpOuOKXJ9fosV9vm2DBko1cD0SzOm4sxsJdIWKCk-2odzkgpgq0rFmFlEwx4R42wX-kh99gv0iV~OXHM~Gy9VD9viEzt-lL5~1etljCyss7bK2wql5gkUxhZRisdY9neQqX2dO3eaVtwsISU071DQiBA1iuHn8vVH1ApP8jisn5SpjM0k-ufV-dgeoPYH3YEtVlZRlM4vfjMNbx8JJhBISJ~uqK7KWL80co9a4fLhMNRjbVrHnQ__"
                alt="">
        </div>
    </div>
    <div class="right">
        <h1>Hi, I am <span>Vivek R. Dudhatra,</span></h1>
        <p>As a passionate Angular Developer, I thrive on building captivating and intuitive web experiences. My
            expertise lies in leveraging modern front-end technologies to architect scalable and maintainable
            applications. I am adept at translating complex requirements into seamless user interfaces, always striving
            for performance optimization and clean, efficient code. I am eager to contribute my skills and enthusiasm to
            innovative projects.</p>
        <button routerLink="/project">Visit My Work</button>
    </div>
</div>

<div class="heading-a">
    <h1>01</h1>
    <h2>About Me</h2>
</div>


<app-about />
<div class="heading-a">
    <h1>02</h1>
    <h2>Service</h2>
</div>
<div class="container-s">
    <div class="left">
        <img src="https://media-hosting.imagekit.io/01a1518c7b2b43cd/images%20(1).png?Expires=1840099380&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=zgpUn~zZLLAxwPVunG2~zNI~56CpXg5Zcatqth0WuiV0K1ApULHMpNnBj4NU4eHr36DQuFIZup-4FThOdJVLvpgzEX~JRWx9sKK9qNlr1eItlJy06kAIiFmuCAeYLNKHKJvWAjUh5EQsXIs9ZHs48NGzNFfgkhCWHEx9-ihk8t~w4sjDgQG2i2j-oJGb351Y5mOT3oD6eLYsLjGMXaDFrS7q9Wjl5yHbKvyojOgpFocKauESRm1DVsFUbYKaPKQ6Nunn--c2BO4gBCbey4ZapMXosonEnDar54yx3HeWz9bGg9sii88HmarmBj-aMgW1sxxAyHj3z0FP-4yPN1kalg__"
            alt="">
        <h1>User Interface</h1>
        <p>

            My passion lies in crafting user-friendly interfaces that transcend mere visual appeal. I am dedicated to
            developing intuitive and seamless experiences that empower users through effortless navigation and clear
            information architecture. Employing a mobile-first approach, I ensure that every design is inherently
            responsive, adapting fluidly across a diverse range of devices and screen sizes. My focus extends beyond
            aesthetics to encompass usability testing and iterative design, guaranteeing that the final product is not
            only visually engaging but also highly functional and accessible to all users, ultimately fostering a
            positive and productive interaction.</p>
    </div>
    <div class="right">
        <img src="https://media-hosting.imagekit.io/ae3dee6eb3774ffd/images%20(2).png?Expires=1840099380&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=kU9JheMpnFZHqUqlAipkbgcNmG7pxlRBEgZXtZ4pU6Tbq1XtcZw3iAYynUGzwYl41bbM4UdutG1zKUzrIzm7zhFfKVlEK4PgRIZ~qLXe~G5W1qF-MYal6krzNY-tlhrbfjpYJ4CO8vSk8HDJ2bTtP~GSzvZJ6NfXesuEIp~fsRNfTkW12sCrXSLcJww3Al5PqFLBYl8p~8NlgBm5YSyrdAeOZCWIuS4DwXASRGTOZIJ9FiX2QwHRFwY6mEpPrHtk7WFYtL1q7MVDV4QTQfItNXVxqIOfGROhn6ntwZYbmx8UjBtcD~pSCX3CmOvLYliUORjwTF~hPOnlkoPTipXIHg__"
            alt="">
        <h1>Front-end Web Devlelopment</h1>
        <p>With a keen eye for detail and a commitment to pixel-perfect execution, I translate design mockups into fully
            functional and interactive web pages. Leveraging the power of semantic HTML for structure, expressive CSS
            for styling and layout, and dynamic JavaScript for engaging user interactions, I bring static designs to
            life. My proficiency extends to modern JavaScript frameworks like React and Angular, enabling the
            development of scalable, component-based architectures and efficient data management. I ensure cross-browser
            compatibility, performance optimization, and adherence to web accessibility standards, resulting in robust
            and user-friendly web experiences.</p>

    </div>
</div>

<div class="heading-a">
    <h1>03</h1>
    <h2>Project</h2>
</div>

<app-project />

<div class="heading-a">
    <h1>04</h1>
    <h2>Journey</h2>
</div>

<div class="container-j">
    <div class="left">
        <div class="card">
            <h1>B.Tech. CSE</h1>
            <h2>(June-2021 to Apr-2025)</h2>
            <p>Completed B.Tech. CSE at Parul University, gaining strong foundational of computer science skills.</p>
        </div>
        <div class="card">
            <h1>10th</h1>
            <h2>(June-2018 to Apr-2019)</h2>
            <p>Attained 91.17% in 10th grade, demonstrating a solid academic foundation.</p>
        </div>
    </div>
    <div class="mid">
        <div class="one">
            <p>1</p>
            <hr class="right-hr">
        </div>
        <div class="center"></div>
        <div class="one">
            <p>2</p>
            <hr class="left-hr">
        </div>
        <div class="center"></div>
        <div class="one">
            <p>3</p>
            <hr class="right-hr">
        </div>
        <div class="center"></div>
        <div class="one">
            <p>4</p>
            <hr class="left-hr">
        </div>
    </div>
    <div class="right">
        <div class="card">
            <h1>Angular Web Dev Intern</h1>
            <h2>(Jan-2025 to Present)</h2>
            <p>Building dynamic Angular 19 web apps with reusable components and modern features.</p>
        </div>
        <div class="card">
            <h1>11th & 12th</h1>
            <h2>(June-2019 to Apr-2021)</h2>
            <p>Achieved 94% in 12th grade, demonstrating strong academic performance.</p>
        </div>
    </div>
</div>

<div class="container-j2">
    <div class="cards">
        <div class="one">
            <p>1</p>
            <hr class="hr">
        </div>
        <div class="card">
            <h1>Angular Web Dev Intern</h1>
            <h2>(Jan-2025 to Present)</h2>
            <p>Building dynamic Angular 19 web apps with reusable components and modern features.</p>
        </div>
        <div class="one">
            <p>2</p>
            <hr>
        </div>
        <div class="card">
            <h1>B.Tech. CSE</h1>
            <h2>(June-2021 to Apr-2025)</h2>
            <p>Completed B.Tech. CSE at Parul University, gaining strong foundational of computer science skills.</p>
        </div>
        <div class="one">
            <p>3</p>
            <hr>
        </div>
        <div class="card">
            <h1>11th & 12th</h1>
            <h2>(June-2019 to Apr-2021)</h2>
            <p>Achieved 94% in 12th grade, demonstrating strong academic performance.</p>
        </div>
        <div class="one">
            <p>4</p>
            <hr>
        </div>
        <div class="card">
            <h1>10th</h1>
            <h2>(June-2018 to Apr-2019)</h2>
            <p>Attained 91.17% in 10th grade, demonstrating a solid academic foundation.</p>
        </div>
    </div>
</div>

<div class="heading-a">
    <h1>05</h1>
    <h2>Contact</h2>
</div>

<app-contact />
}