<app-header />
<div class="container">
    <div class="circle">
    </div>
    <div class="left">
        <div class="x">
            <p>x</p>
            <img src="https://media-hosting.imagekit.io/692dbeb4d54a4759/download__2_-removebg-preview.png?Expires=1840094398&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=rrKDqBg7EuPkF4Hz2xTj85I5ntSUryDMG~EbxOG6sbxdGxc-~0enxH3cZZQv7nc3RI~QBj4QH6W9Zn3UjEODvSQF7y69d~MF-rQKpOuOKXJ9fosV9vm2DBko1cD0SzOm4sxsJdIWKCk-2odzkgpgq0rFmFlEwx4R42wX-kh99gv0iV~OXHM~Gy9VD9viEzt-lL5~1etljCyss7bK2wql5gkUxhZRisdY9neQqX2dO3eaVtwsISU071DQiBA1iuHn8vVH1ApP8jisn5SpjM0k-ufV-dgeoPYH3YEtVlZRlM4vfjMNbx8JJhBISJ~uqK7KWL80co9a4fLhMNRjbVrHnQ__"
                alt="">
        </div>
    </div>
    <div class="right">
        <h1>Hi, I am <span>Vivek R. Dudhatra,</span></h1>
        <p>As a passionate Angular Developer, I thrive on building captivating and intuitive web experiences. My
            expertise lies in leveraging modern front-end technologies to architect scalable and maintainable
            applications. I am adept at translating complex requirements into seamless user interfaces, always striving
            for performance optimization and clean, efficient code. I am eager to contribute my skills and enthusiasm to
            innovative projects.</p>
        <button routerLink="/project">Visit My Work</button>
    </div>
</div>

<div class="heading-a">
    <h1>01</h1>
    <h2>About Me</h2>
</div>
<div class="container-a">
    <div class="left">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Driven
            by an unwavering passion for crafting seamless and intuitively engaging user experiences, I am Vivek
            Dudhatra, a dedicated Angular developer deeply immersed in the dynamic world of modern front-end
            technologies. My core expertise lies in architecting and developing robust, scalable web applications
            utilizing the Angular framework. I possess a strong command over the fundamental building blocks of the web,
            including HTML for semantic structure, CSS for captivating styling and responsive layouts, and JavaScript
            for dynamic interactivity.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beyond
            these core technologies, I continuously explore and integrate cutting-edge tools and best practices
            within the Angular ecosystem to ensure high-performance and maintainable code. I am adept at
            problem-solving, collaborating effectively within agile teams, and transforming complex requirements into
            elegant and user-centric solutions. My commitment extends to staying abreast of the latest industry trends
            and advancements, allowing me to consistently deliver exceptional digital experiences. </p>
            <a href="../../assests/Vivek Dudhatra.pdf" download="">
                <button>Download CV</button>
            </a>
    </div>
    <div class="right">
        <div class="circle">
            <img src="https://media-hosting.imagekit.io/51f53d4935d74668/download__4_-removebg-preview.png?Expires=1840095888&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=o7FXClNa5NMCVoVlAxnAj7R8U9DPb4uzSh-Ev2PaCNvxQN1T-jok1BhMCQiPIFTMhtPE3VQ8cdHUT9GWIU0wMynMf2SGreKT2ZGukq~nisV6~sfKYIrSZuuTWFUixOsTFL69cPsfmzutPggNggb7V-M9-8HEHLH0k8M~AAR9fDWBBkFUF9LF-iLS2mpEoP~ZpaKRY7TC5zYO5zxy~EX6IpzIdyov2THVCcJ3ef2rZnfunqQ5V0LmG2RO1gaYmqN9vDy2~biNem-zS0aUpMyjP~jSWaxUN4PvjG7yj1KXkoWCPVfqzPBZdZN14e~eU~Hh~SclQrs-qmmBsjzELiDhNw__"
                alt="">
        </div>
    </div>
</div>

<div class="heading-a">
    <h1>02</h1>
    <h2>Service</h2>
</div>

<div class="container-s">
    <div class="left">
        <img src="https://media-hosting.imagekit.io/01a1518c7b2b43cd/images%20(1).png?Expires=1840099380&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=zgpUn~zZLLAxwPVunG2~zNI~56CpXg5Zcatqth0WuiV0K1ApULHMpNnBj4NU4eHr36DQuFIZup-4FThOdJVLvpgzEX~JRWx9sKK9qNlr1eItlJy06kAIiFmuCAeYLNKHKJvWAjUh5EQsXIs9ZHs48NGzNFfgkhCWHEx9-ihk8t~w4sjDgQG2i2j-oJGb351Y5mOT3oD6eLYsLjGMXaDFrS7q9Wjl5yHbKvyojOgpFocKauESRm1DVsFUbYKaPKQ6Nunn--c2BO4gBCbey4ZapMXosonEnDar54yx3HeWz9bGg9sii88HmarmBj-aMgW1sxxAyHj3z0FP-4yPN1kalg__"
            alt="">
        <h1>User Interface</h1>
        <p>

            My passion lies in crafting user-friendly interfaces that transcend mere visual appeal. I am dedicated to
            developing intuitive and seamless experiences that empower users through effortless navigation and clear
            information architecture. Employing a mobile-first approach, I ensure that every design is inherently
            responsive, adapting fluidly across a diverse range of devices and screen sizes. My focus extends beyond
            aesthetics to encompass usability testing and iterative design, guaranteeing that the final product is not
            only visually engaging but also highly functional and accessible to all users, ultimately fostering a
            positive and productive interaction.</p>
    </div>
    <div class="right">
        <img src="https://media-hosting.imagekit.io/ae3dee6eb3774ffd/images%20(2).png?Expires=1840099380&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=kU9JheMpnFZHqUqlAipkbgcNmG7pxlRBEgZXtZ4pU6Tbq1XtcZw3iAYynUGzwYl41bbM4UdutG1zKUzrIzm7zhFfKVlEK4PgRIZ~qLXe~G5W1qF-MYal6krzNY-tlhrbfjpYJ4CO8vSk8HDJ2bTtP~GSzvZJ6NfXesuEIp~fsRNfTkW12sCrXSLcJww3Al5PqFLBYl8p~8NlgBm5YSyrdAeOZCWIuS4DwXASRGTOZIJ9FiX2QwHRFwY6mEpPrHtk7WFYtL1q7MVDV4QTQfItNXVxqIOfGROhn6ntwZYbmx8UjBtcD~pSCX3CmOvLYliUORjwTF~hPOnlkoPTipXIHg__"
            alt="">
        <h1>Front-end Web Devlelopment</h1>
        <p>With a keen eye for detail and a commitment to pixel-perfect execution, I translate design mockups into fully
            functional and interactive web pages. Leveraging the power of semantic HTML for structure, expressive CSS
            for styling and layout, and dynamic JavaScript for engaging user interactions, I bring static designs to
            life. My proficiency extends to modern JavaScript frameworks like React and Angular, enabling the
            development of scalable, component-based architectures and efficient data management. I ensure cross-browser
            compatibility, performance optimization, and adherence to web accessibility standards, resulting in robust
            and user-friendly web experiences.</p>

    </div>
</div>


<div class="heading-a">
    <h1>03</h1>
    <h2>Project</h2>
</div>

<div class="container-p">
    <a href="https://coronamapplus.netlify.app/" target="_blank">
        <div class="card">
            <img src="https://media-hosting.imagekit.io/a7258fb6f3074866/Screenshot%202025-04-23%20145641.png?Expires=1840096524&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=nY2cPGIgPy4FFmMYfaenYt-drJ0k1ldfvyAKGozD6qfr5J3-rZ-h~6jxeHV2VqrURfudWCjjvFUpRmK~-rgP~uktLGxzjpx5iMmzrPthufG7VLgLklLT59IWHruHilvITJHIE80xuyxYYKeENX-BmjCMKc2r~8tIyKJy2AlnUez6eynVbOXii3rFyOM6s05kQ6jXMpdrJ~1CL8K4mi8VMggXsNw-J3etWWv52-rvhrhqgxk0PFZQBvrajQpfiISjFSxHyBgZX6iOGwJdMYsFRrvLlq1fuYbSFxxQf4XQvLEoqwXxZXnRTptGh-Rl7qAuLLjGvIy9yVx3eZJtcSO5KQ__"
                alt="">

            <h2>Corona Map</h2>

            <p>CoronaMap: My project visualizing the COVID-19 pandemic's global spread on an interactive map. Built with
                HTML, CSS & JavaScript, it offers a clear, real-time view of cases and recoveries.</p>

        </div>
    </a>
    <a href="https://image-search-app-orcin.vercel.app/" target="_blank">
        <div class="card">
            <img src="https://media-hosting.imagekit.io/b6a5b6bbd71c49b3/Screenshot%202025-04-23%20145801.png?Expires=1840096524&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=uv-l8z9la7yIJeH-isa5se0DuiMfXWpsGcYMn-1rw4LlkQglW4aYLcI5hnu4-y7~Dv8vktclUKKw4NMY-T5WGVDTl7rIAJSp1C8MwYZJ2m-fjkbkVD4xJo0xXs95aeufaRerZPG3SAfww4-rueetR5LLO3WzNG1tIseYkte7bvcal3-iExY7n-AWAG74U-lYs~~YNuJMpN9DOPQKW9fHsDVjXoULjGIw~~7GwY7atNtHi0YJcVJ4FSAsDlSeMdec0k2bm1cYjlJBO4bSd1YkoDXZfmSuDEu1XKfW2VpWn9g8Uz-Ji~ymMnTHBj-cvQMA2TCKjPbJ~d~FC2QiXrOSIw__"
                alt="">
            <h2>Image Search App</h2>
            <p>Image Search App: My project enabling users to search for images using keywords. Built with HTML, CSS &
                JavaScript with API integration, it provides a user-friendly interface for finding and viewing images.
            </p>
        </div>
    </a>
    <a href="https://live-streaming-web-app.vercel.app/" target="_blank">

        <div class="card">
            <img src="https://media-hosting.imagekit.io/67f34e57304f4596/Screenshot%202025-04-23%20145858.png?Expires=1840096524&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=zUNASJl-VH4ct-K~AzGIq8vkDOm2XQUVLhqogdGL2mZyq5DDUnAswmj4U7qW8lY51wb3B2Y21hsGJ4s9~CKQBymiPBxACcwWn~Qfh0n3tJ4fPSNxMvRkMfpAw9WU-8K-oDBQxj413W7FmLvaCtLRvxeQGeaxIGC6dGHgFbAyduGCSLPBjJ2hHJ164CXvvgO6QWjNCtN4BuFjd9ryEPbXLtD2vIcUtHdw2cJ-nT24T11kOdVc6vWRSa8hpV-wNeIPjr8HrgMzMh-GedXFW4ginzmhj0Il4SjlezVFNCkLNzbSp4l5qaR~x63YJYZeAcItiLwvecP2FrXIGkMCI-nv5A__"
                alt="">
            <h2>Live Streaming App</h2>
            <p>Live Streaming Web App: This project enables real-time video broadcasting and viewing. Users can likely
                create and join live streams, potentially with features like chat and user authentication for an
                interactive
                experience.</p>
        </div>
    </a>
</div>

<div class="heading-a">
    <h1>04</h1>
    <h2>Journey</h2>
</div>

<div class="container-j">
    <div class="left">
        <div class="card">
            <h1>B.Tech. CSE</h1>
            <h2>(June-2021 to Apr-2025)</h2>
            <p>Completed B.Tech. CSE at Parul University, gaining strong foundational of computer science skills.</p>
        </div>
        <div class="card">
            <h1>10th</h1>
            <h2>(June-2018 to Apr-2019)</h2>
            <p>Attained 91.17% in 10th grade, demonstrating a solid academic foundation.</p>
        </div>
    </div>
    <div class="mid">
        <div class="one">
            <p>1</p>
            <hr class="right-hr">
        </div>
        <div class="center"></div>
        <div class="one">
            <p>2</p>
            <hr class="left-hr">
        </div>
        <div class="center"></div>
        <div class="one">
            <p>3</p>
            <hr class="right-hr">
        </div>
        <div class="center"></div>
        <div class="one">
            <p>4</p>
            <hr class="left-hr">
        </div>
    </div>
    <div class="right">
        <div class="card">
            <h1>Angular Web Dev Intern</h1>
            <h2>(Jan-2025 to Present)</h2>
            <p>Building dynamic Angular 19 web apps with reusable components and modern features.</p>

        </div>
        <div class="card">
            <h1>11th & 12th</h1>
            <h2>(June-2019 to Apr-2021)</h2>
            <p>Achieved 94% in 12th grade, demonstrating strong academic performance.</p>

        </div>
    </div>
</div>

<div class="heading-a">
    <h1>05</h1>
    <h2>Contact</h2>
</div>

<div class="container-c">
    <form action="https://api.web3forms.com/submit" method="POST">
        <input type="hidden" name="access_key" value="ab02cba6-e0ab-4771-9089-e7fd5a96f1cf">
        <div>
            <label for="">Enter Name : </label>
            <input type=" text" name="name" required>
        </div>
        <div>
            <label for="">Enter E-mail :</label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label for="">Message : </label>
            <textarea name="message" required rows="4"></textarea>
        </div>
        <button type="submit">Contect Me</button>
    </form>
</div>

<app-footer/>